{% load static %}

<div class="jumbotron border border-secondary bg-white shadow-sm pt-4 px-3 mt-5">
    <div class="h2 mb-4">Tags</div>
    <hr>
    <div class="container my-3">
        {% for tag in tag_list %}
            <a class="btn btn-outline-primary my-1 mx-1"
               href="{% url "posts:post_list_by_tag" tag.slug %}">{{ tag.name }}
                <span class="badge badge-secondary">{{ tag.taggit_taggeditem_items.count }}</span>
            </a>
        {% endfor %}
    </div>
</div>