#tag {
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

#tag_line {
  font-size: 15px;
  margin-bottom: 6px;
}

#author {
  color: white;
  text-decoration: none;
}

#post_title {
  text-decoration: none;
}

#read_more {
  text-decoration: none;
}

#note {
  margin-bottom: 20px;
}

.post_body {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar-bg {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  border: 2px solid palevioletred;
  border-radius: 20px;
}

#main {
  margin-right: 50px;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}
