{% extends "blog/base.html" %}

{% block content %}

    <div>
        <h3 style="margin-bottom: 20px;"><a class="text-decoration-none text-dark"
                                            href="{{ post.get_url }}">{{ post.title }}</a>
        </h3>

        <div style="margin-bottom: 30px;">
            <small class="font-italic">Posted by
                <code>{{ post.author }}</code>
                <span class="flask-moment"> on {{ post.publish }}</span>
                {% if post.tags.count %}
                    Tags
                    {% for tag in post.tags.all %}
                        <a href="{% url "post:post_list_by_tag" tag.slug %}"
                           class="badge badge-primary text-white text-decoration-none">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
            </small>
        </div>

        <div class="font-weight-light">{{ post.body|linebreaks }}
        </div>

        <hr>

        <h4>Similar posts</h4>
        {% for post in post.tags.similar_objects %}
            <div class="font-weight-light">
                <a class="text-decoration-none" href="{{ post.get_url }}">{{ post.title }}</a>
            </div>
        {% empty %}
            There are no similar posts yet.
        {% endfor %}

        <hr>

        {% with comments.count as total_comments %}
            <h4>{{ total_comments }}
                comment{{ total_comments|pluralize }}
            </h4>
        {% endwith %}

        <div style="margin-top: 20px;">
            {% for comment in comments %}
                <small class="font-italic">
                    <span class="badge badge-warning">#{{ forloop.counter }}</span>
                    <code>{{ comment.username }}</code>
                    {{ comment.created }}
                </small>
                <div class="font-weight-light" style="margin-top: 10px; margin-bottom: 10px;">
                    {{ comment.body }}
                </div>
            {% empty %}
                <div>There are no comments yet.</div>
            {% endfor %}

            <hr>

            {% if new_comment %}
                <h3>Your comment has been added!</h3>
            {% else %}
                <h3>Leave a Comment</h3>
                <form method="post">
                <div class="form-group">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Add comment"></p>
                </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
