{% extends "blog/base.html" %}

{% block title %}{{ posts.title }}{% endblock %}

{% block content %}

    <div class="my-5">
        <!-- Post title -->
        <div>
            <h2 class="text-dark">{{ posts.title }}</h2>
        </div>
        <div class="mt-2">
            <small class="font-italic text-secondary">Posted by
                <code>{{ posts.author }}</code>
                <span> on {{ posts.publish }}</span>
                {% if posts.tags.count %}
                    Tags
                    {% for tag in posts.tags.all %}
                        <a href="{% url "posts:post_list_by_tag" tag.slug %}"
                           class="badge badge-primary text-white text-decoration-none p-1">{{ tag.name }}</a>
                    {% endfor %}
                {% endif %}
            </small>
        </div>
        <hr class="my-5">

        <!-- Post body -->
        <p>{{ posts.body|safe|linebreaks }}</p>
        <hr class="mt-5">

        <!-- Similar posts -->
        <div class="mt-5">
            <h4>Similar posts</h4>
            {% for post in posts.tags.similar_objects %}
                <div>
                    <a href="{{ post.get_url }}">{{ post.title }}</a>
                </div>
            {% empty %}
                <p class="text-secondary font-italic">There are no similar posts yet.</p>
            {% endfor %}
        </div>

        <!-- Comment list -->
        <div class="mt-5">
            <h4>Comments ({{ comments.count }})</h4>
            {% for comment in comments %}
                <small class="font-italic">
                    <span class="badge badge-warning">#{{ forloop.counter }}</span>
                    <code>{{ comment.username }}</code>
                    {{ comment.created }}
                </small>
                <div class="my-1">
                    {{ comment.body }}
                </div>
            {% empty %}
                <p class="text-secondary font-italic">There are no comments yet.</p>
            {% endfor %}
        </div>

        <!-- Comment form -->
        <div class="mt-5 col-md-8 pl-0">
            <h4 class="mb-4">Submit a new comment</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    {#                    <label for="name">Your Name</label>#}
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
                </div>
                <div class="form-group">
                    {#                    <label for="email">Email</label>#}
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    {#                    <label for="comment">Comment</label>#}
                    <textarea name="body" id="comment" class="form-control" rows="6" placeholder="Comment"
                              required></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
